html, body {
    height: 100%;
    margin: 0;
}

body {
    background: white url("./images/python-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

li a {
    color: green;
}